name: Test

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ github.event.action != 'closed' }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Setup node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm ci

      - name: Setup environment variable for preview path
        run: echo "PREVIEW_PATH=pr-preview/pr-${{ github.event.pull_request.number }}" >> "$GITHUB_ENV"

      - name: Build website
        run: npm run build

      - name: Deploy website preview
        uses: rossjrw/pr-preview-action@v1.7.0
        with:
          source-dir: './dist'

      - name: Setup Tailscale VPN
        uses: tailscale/github-action@v4.1.1
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_CLIENT_SECRET }}
          tags: tag:ci

      - name: Setup SSH known hosts
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KNOWN_HOSTS }}" >> ~/.ssh/known_hosts

      - name: Deploy changes (dry run)
        run: |
          rsync -avzhin --no-perms ./dist/ ${{ secrets.SSH_SERVER_USERNAME }}@${{ secrets.SSH_SERVER_TAILSCALE_IP }}:${{ secrets.SSH_SERVER_WEBSITE_PATH }}

  cleanup:
    runs-on: ubuntu-latest
    if: ${{ github.event.action == 'closed' }}
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Cleanup preview
        uses: rossjrw/pr-preview-action@v1.7.0
        with:
          source-dir: './dist'
          action: remove
